<%= provide(:title, "Login") %>
<div class="col-md-8 col-md-offset-4">
	<%= form_for :session, url: login_path do |f| %>
		<div class="input-group">
			<%= f.label :email %><br/>
			<%= f.email_field :email, class: "form-control" %>
		</div>

		<div class="input-group">
			<%= f.label :password %><br/>
			<%= f.password_field :password, class: "form-control" %>
		</div>
		<br/>

		<%= f.submit "Login", class: "btn btn-primary" %>
	<% end %>
</div>